<%= form_with(model: mbs_item) do |form| %>
  <% if mbs_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(mbs_item.errors.count, "error") %> prohibited this mbs_item from being saved:</h2>

      <ul>
        <% mbs_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :reference %>
    <%= form.number_field :reference %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_select :end_date %>
  </div>

  <div class="field">
    <%= form.label :is_latest %>
    <%= form.check_box :is_latest %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
